.header {
  background-color: $--color-white;
  padding: 30px 0 20px;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;

  .header-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .header-logo {

      img {
        max-width: 247px;
        width: 100%;
        object-fit: contain;
      }
    }

    .header-contacts {
      display: flex;
      align-items: center;

      .header-links {
        display: flex;
        align-items: center;
        margin-right: 40px;

        a {
          font-weight: 600;
          font-size: 15px;
          color: $--color-default;
        }
        a + a {
          margin-left: 20px;
        }
      }
    }
  }
}
