.service-content-section {
  padding: 93px 0 90px;

  h3, .h3 {
    margin-bottom: 20px;
    &:not(:first-child) {
      margin-top: 60px;
    }
  }

  p {
    color: $--color-grey;
    letter-spacing: 0.005em;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
    span {
      color: $--color-blue;
    }
  }
}
