//
// Project Variables
//

/* fonts */
$--font-default: 'Commissioner';
$--font-second: 'Inter';

/* colors */
$--color-default: #1C1C1C;
$--color-white: #fff;
$--color-blue: #310E6A;
$--color-purple: #6F5797;
$--color-grey: #757575;
$--color-grey-opacity:  rgb(117 117 117 / 50%);
$--color-light-grey-v2: #F0F0F0;
$--color-light-grey: #F3F4F7;
$--color-yellow: #F2D802;
$--color-light-blue: #7B9AE5;
