.accordion {
  width: 100%;

  .accordion-item {
    transition: all 0.3s;
    width: 100%;
    overflow: hidden;

    .accordion-item-header {

      &:after {

      }

    }

    .accordion-item-content {
      overflow: hidden;
      width: 100%;
      transition: height 0.5s ease-in-out;
      height: 0;

      .accordion-content-wrapper {

      }
    }

  }

  .accordion-item.active {
    transition: all 2s;

    .accordion-item-header {

      &:after {

      }
    }

  }

}
