.page-banner {
  height: 618px;
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    height: inherit;
  }

  .banner-wrapper {
    display: flex;
    height: inherit;
    padding: 70px 0;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;

    .h1 {
      color: $--color-white;
      max-width: 70%;
    }

    .custom-form {
      align-self: flex-start;
      margin-top: 10px;
    }

  }

}


@media (max-width: 1600px) {
  .page-banner {
    height: 400px;

    .banner-wrapper {
      padding: 40px 0;

      .h1 {
        font-size: 44px;
        line-height: 54px;
        max-width: 100%;
      }
    }
  }
}
