.callback-section {
  background-color: $--color-blue;
  padding: 157px 0;
  position: relative;
  overflow: hidden;

  .col-lg-6:nth-of-type(2) {
    padding-left: 180px;
  }

  .decorated-callback {
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 300px;
      height: 300px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: -155px;
      background-image: url(../img/decor-image-callback2.png);
    }
  }

  .contact-link:before {
    margin-right: 15px;
  }

  .link-address-white {
    max-width: 40%;
  }

  .callback-form {
    position: relative;
    margin-left: 152px;

    &:before {
      content: "";
      display: block;
      width: 220px;
      height: 220px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      left: -220px;
      top: -160px;
      background-image: url(../img/decor-image-callback1.png);
    }

  }

  .callback-content {
    margin-bottom: 100px;

    .h5 {
      color: $--color-yellow;
      margin-bottom: 0;
    }

    .h2 {
      margin-bottom: 25px;
    }

    .callback-description {

      p {
        color: $--color-white;
        max-width: 470px;
      }
    }
  }

  .callback-contacts {

    .contact-link {
      font-size: 17px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.callback-section-light {
  background-color: $--color-white;

  .callback-form {
    background-color: $--color-light-grey;
  }

  .callback-content {

    .h5 {
      color: $--color-blue;
    }
    .callback-description  {

      p {
        color: $--color-default;
      }
    }
  }
  .callback-contacts {

    .contact-link {
      color: $--color-default;
    }

    .link-phone-white {

      &:before {
        background-image: url(../img/icons/phone-ico-black.svg);
      }
    }
    .link-mail-white {

      &:before {
        background-image: url(../img/icons/mail-ico-black.svg);
      }
    }
    .link-address-white {

      &:before {
        background-image: url(../img/icons/location-ico-black.svg);
      }
    }
  }
}


@media (max-width: 1600px) {
  .callback-section {
    .col-lg-6:nth-of-type(2) {
      padding-left: 15px;
    }

    .callback-form:before {
      width: 184px;
      height: 184px;
      left: -184px;
      top: -140px;
    }

    .decorated-callback:after {
      width: 246px;
      height: 246px;
      right: -30px;
      bottom: -135px;
    }

    .link-address-white {
      max-width: 55%;
    }

  }
}
