.custom-form {
  background: $--color-blue;
  max-width: 509px;
  width: 100%;
  padding: 40px 30px 30px;

  .form-title {
    font-family: $--font-second;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    margin-bottom: 40px;
    text-align: center;
    color: $--color-white;
  }

  form {
    width: 100%;
  }
}
