.projects-section {
  background-color: $--color-light-grey;
  height: 856px;
  position: relative;
  overflow: hidden;

  .container {
    height: inherit;

    &:before {
      content: "";
      display: block;
      width: 20%;
      position: absolute;
      height: 100%;
      left: 0;
      background-color: $--color-light-grey;
      z-index: 2;
      top: 0;
    }
  }

  .title-block {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 55px;
    background-color: $--color-light-grey;
    z-index: 2;

    .link-arrow {
      margin-bottom: 54px;
    }

  }

  .project-slider {
    max-width: 100%;
    position: relative;
    width: 80%;
    height: inherit;
    counter-reset: list;

    .swiper-button-next, .swiper-button-prev {
      bottom: 15%;
      top: unset;
    }

    .swiper-button-next {
      transform: none;
      right: 10%;
    }

    .swiper-button-prev {
      right: unset;
      left: 4%;
    }

    .swiper-wrapper {
      height: inherit;
    }

    .project-case {
      height: inherit;
      padding: 70px 50px 100px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: $--color-white;
      cursor: pointer;
      position: relative;
      z-index: 1;

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: $--color-white;
        opacity: 0.7;
        z-index: -1;
        transition: 0.3s;
      }

      .h3 {

        &:before {
          counter-increment: list;
          content: counter(list) "";
          display: block;
          width: 100%;
          margin-bottom: 50px;
        }
      }

      .case-toggle-content {
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;

        .case-description {
          margin-bottom: 30px;

          p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            line-clamp: 5;
            box-orient: vertical;
          }
        }

        .case-stats-block {

          .stat-item {
            display: flex;
            align-items: center;
            &:not(:last-of-type) {
              margin-bottom: 26px;
            }

            .stat-percent {
              font-weight: 700;
              font-size: 44px;
              margin-right: 10px;
              display: flex;
              align-items: center;
              line-height: 0;
            }

            .stat-percent.up {
              &:before {
                content: "";
                display: block;
                width: 35px;
                height: 35px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                margin-right: 4px;
                background-image: url(../img/icons/arrow-top-blue.svg);
              }
            }

            .stat-percent.down {
              &:before {
                content: "";
                display: block;
                width: 35px;
                height: 35px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                margin-right: 4px;
                transform: rotate(180deg);
                background-image: url(../img/icons/arrow-top-blue.svg);
              }
            }

            .stat-description {

              p {
                max-width: 70%;
              }
            }
          }
        }

        .link-more {
          font-weight: 700;
          font-size: 15px;
          letter-spacing: 0.01em;
          color: $--color-default;
          margin-top: 34px;
          display: flex;
          width: fit-content;
        }

      }

      &:hover {
        .case-toggle-content {
          opacity: 1;
          visibility: visible;
        }
      }

    }

  }
}


@media (max-width: 1600px) {
  .projects-section {

    .title-block {
      width: 25%;
      padding-bottom: 30px;

      .link-arrow {
        margin-bottom: 118px;
      }
    }
    .project-slider {
      width: 75%;

      .project-case {
        padding: 70px 30px 50px 22px;
      }
    }
  }
}
