.services-section {
  background-color: $--color-blue;
  padding: 59px 0 43px;

  .services-content {
    padding-top: 42px;
  }

  .services-image {

    img {
      height: 763px;
      object-fit: contain;
    }
  }
}

@media (max-width: 1600px) {
  .services-section {
    padding: 50px 0 57px;

    .services-content {
      padding-top: 0;
    }
  }
}
