<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<%= _.template(require('../includes/main-banner.html').default)({}) %>

<%= _.template(require('../includes/services-block.html').default)({}) %>

<%= _.template(require('../includes/projects-slider.html').default)({}) %>

<%= _.template(require('../includes/certificates-block.html').default)({}) %>

<%= _.template(require('../includes/testimonials.html').default)({}) %>

<%= _.template(require('../includes/callback-section.html').default)({}) %>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
