<%= _.template(require('../includes/common/header.html').default)({}) %>

<%= _.template(require('../includes/block-banner-form.html').default)({}) %>

<section class="single-service-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7">
        <div class="content-wrapper">
          <h3>What can we do</h3>
          <p>Our SEO team ensures a holistic approach to optimizing your online presence. From innovative strategies and deep keyword analysis to crafting high-quality content, we cater to various needs, be it improving website ranking, content optimization, or analytics.</p>
          <h3>What does it give you</h3>
          <p>Partnering with our SEO department means more than just high search engine rankings; it results in increased organic traffic, engaged target audiences, and improved conversion rates. Gain a vital tool for the successful online promotion of your business.</p>
        </div>
      </div>
      <div class="col-lg-5 col-md-5">
        <div class="content-image">
          <img src="./img/single-service-img.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('../includes/services-price-block.html').default)({}) %>

<%= _.template(require('../includes/how-we-do.html').default)({}) %>

<%= _.template(require('../includes/benefits-block.html').default)({}) %>

<%= _.template(require('../includes/projects-slider.html').default)({}) %>

<%= _.template(require('../includes/services-content-block.html').default)({}) %>

<%= _.template(require('../includes/faq.html').default)({}) %>

<%= _.template(require('../includes/locations-block.html').default)({}) %>

<section class="certificates-section certificates-section-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="certificates-content">
          <div class="title-block">
            <div class="h2 white">Digital Marketing Certificates</div>
            <div class="certificates-description">
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit semper dalar elementum tempus hac tellus libero</p>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit semper dalar elementum tempus hac tellus libero</p>
            </div>
          </div>
        </div>
        <div class="row certificates-links">
          <div class="col-lg-4">
            <a href="#" class="link-btn link-btn-all">
              All
            </a>
          </div>
          <div class="col-lg-4">
            <a href="#" class="link-btn">
              <img src="./img/icons/google.svg" class="link-btn-ico" alt="">
              Google
            </a>
          </div>
          <div class="col-lg-4">
            <a href="#" class="link-btn">
              <img src="./img/icons/google.svg" class="link-btn-ico" alt="">
              Google
            </a>
          </div>
          <div class="col-lg-4">
            <a href="#" class="link-btn">
              <img src="./img/icons/google.svg" class="link-btn-ico" alt="">
              Google
            </a>
          </div>
          <div class="col-lg-4">
            <a href="#" class="link-btn">
              <img src="./img/icons/google.svg" class="link-btn-ico" alt="">
              Google
            </a>
          </div>
          <div class="col-lg-4">
            <a href="#" class="link-btn">
              <img src="./img/icons/google.svg" class="link-btn-ico" alt="">
              Google
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="certificates-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="certificate-item">
                <img src="./img/google.png" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificate-item">
                <img src="./img/linkedin.png" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificate-item">
                <img src="./img/google.png" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificate-item">
                <img src="./img/linkedin.png" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificate-item">
                <img src="./img/google.png" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificate-item">
                <img src="./img/linkedin.png" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificate-item">
                <img src="./img/google.png" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificate-item">
                <img src="./img/linkedin.png" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificate-item">
                <img src="./img/google.png" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificate-item">
                <img src="./img/linkedin.png" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('../includes/callback-section.html').default)({}) %>

<%= _.template(require('../includes/common/footer.html').default)({}) %>
